trigger:
- master

variables:
  buildConfiguration: 'Release'
  buildId: $(Build.BuildNumber)
  resourcesId: res$(buildId)
  resourceGroup: RG$(resourcesId)
  appService: AppSvc$(resourcesId)

stages:
- stage: Development
  jobs:
  - job: Build_UnitTests_Analysis_And_Deploy
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - script: echo $(resourceGroup)
    - script: echo $(appService)
    - task: AzureCLI@2
      inputs:
        azureSubscription: 'Free Trial(d6c2c6fa-eaa9-4d22-bd11-da6eacb13f90)'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: 'az group list --output-table'
