trigger:
- master

variables:
  buildConfiguration: 'Release'
  region: 'southcentralus'
  buildId: $(Build.BuildNumber)
  buildIdHyphen: $[replace(variables['Build.BuildNumber'],'.','-')]
  resourcesId: res-$(buildId)
  resourceGroup: RG-$(resourcesId)
  appServicePlan: SvcPlan-$(resourcesId)
  UriAppPocRandD: https://$[replace(variables['Build.BuildNumber'],'.','-')].azurewebsites.net

stages:
- stage: Development
  jobs:
  - job: Build_UnitTests_Analysis_And_Deploy
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: AzureCLI@2
      inputs:
        azureSubscription: 'Free Trial(d6c2c6fa-eaa9-4d22-bd11-da6eacb13f90)'
        scriptType: 'bash'
        scriptLocation: 'inlineScript'
        inlineScript: 'az group create --name $(resourceGroup) --location $(region)'
      displayName: 'Create Resource Group'
    - task: AzureResourceManagerTemplateDeployment@3
      inputs:
        deploymentScope: 'Resource Group'
        azureResourceManagerConnection: 'Free Trial(d6c2c6fa-eaa9-4d22-bd11-da6eacb13f90)'
        subscriptionId: 'd6c2c6fa-eaa9-4d22-bd11-da6eacb13f90'
        action: 'Create Or Update Resource Group'
        templateLocation: 'Linked artifact'
        resourceGroupName: $(resourceGroup)
        location: $(region)
        csmFile: 'infra/Templates/Web App/SvcPlan-template.json'
        csmParametersFile: 'infra/Templates/Web App/SvcPlan-parameters.json'
        overrideParameters: '-serverFarmResourceGroup $(resourceGroup) -hostingPlanName $(appServicePlan) -name AppSvs-$(buildIdHyphen)'
        deploymentMode: 'Incremental'
      displayName: 'Create App Service Plan'
  - job: SeleniumTests
    pool:
      vmImage: 'windows-2019'
    steps:
    - script: dotnet build src --configuration $(buildConfiguration)
      displayName: 'Build Tests Project'
    - task: DotNetCoreCLI@2
      inputs:
        command: 'test'
        projects: 'src/PocRandD.SeleniumTest/PocRandD.SeleniumTest.csproj'
      displayName: 'FunctionalTests'
    dependsOn: Build_UnitTests_Analysis_And_Deploy
    condition: succeeded()
