# ASP.NET Core.
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'

steps:
- script: dotnet build src --configuration $(buildConfiguration)
  displayName: 'Build'
- task: DotNetCoreCLI@2
  displayName: 'Create the Publish'
  inputs:
    command: publish
    publishWebProjects: false
    projects: 'src/PocRandD/PocRandD.csproj'
    arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
    zipAfterPublish: true
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifacts'
- task: AzureRmWebAppDeployment@4
  displayName: 'Deploy to Azure AppService'
  inputs:
    ConnectionType: 'AzureRM'
    azureSubscription: 'SuscripcionMaru'
    appType: 'webAppLinux'
    WebAppName: 'pocpipelines'
    packageForLinux: '$(Build.ArtifactStagingDirectory)/**/*.zip'
    RuntimeStack: 'DOTNETCORE|3.1'
