trigger:
- master

variables:
  buildConfiguration: 'Release'
  buildId: $(Build.ShortSha)
  resourcesId: res$(buildId)

stages:
- stage: Development
  jobs:
  - job: Build_UnitTests_Analysis_And_Deploy
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - script: echo $(resourcesId)
      displayName: 'POC'